<ul>
  <li><a routerLink="">Summary</a></li>
  <li><a routerLink="safety-and-security">Safety and security</a></li>
  <li><a routerLink="terrorism">Terrorism</a></li>
  <li><a routerLink="local-laws-and-customs">Local laws and customs</a></li>
  <li><a routerLink="entry-requirements">Entry requirements</a></li>
</ul>

<ul>
  <li><a routerLink="health">Health</a></li>
  <li><a routerLink="natural-disasters">Natural disasters</a></li>
  <li><a routerLink="money">Money</a></li>
  <li><a routerLink="travel-advice-help-and-support">Travel advice help and support</a></li>  
</ul>
