ul {
    display: flex;
    font-size: 14px;
}

li {
    margin-right: 10px;
}

a, a:link, a:visited, a:hover, a:active {
    color: #222;
}

a:hover {
    cursor: pointer;
}

.arrow-right {
    color: #999;
}