:host {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    color: #4c2c92;
}

a:active, a:visited {
    background: #ffbf47;
}

div:first-child, div:nth-child(2) {
    display: flex;
    align-items: center;
}