button {
    float: right;
    border: none;
    color: #385898;
}

span {
    float: right;
    color: #fff;
    padding: 2px;
    background-color: #fa3e3e;
}

.notifications {
    position: relative;
    left: 50%;
    clear: both;
}