table {
    background-color: rgb(243, 241, 222);
    border-top: 1px solid rgba(153, 153, 153, 1);
}

th, td {
    padding-right: 30px;/*asta s-ar putea sa nu te lase sa faci culorile mai inguste*/
}

#color {
    width: 1px;
}

.TrumpColor { /* change to trump-color etc */
    width:1px;
    background-color: red;
}

.HillaryColor {
    width:1px;
    background-color: blue;
}

.GaryColor {
    width:1px;
    background-color: yellow;
}

.JillColor {
    width:1px;
    background-color: violet;
}

.EvenColor {
    width:1px;
    background-color: green;
}