<h2>Arguments For & Against</h2>
<div id="proAndConArguments">
  <div id="inFavourArgument">
    <h3>In favour</h3>
    <p>Certain jobs attended to by humans are increasingly being replaced by robots, a phenomenon likely to accelerate
      in the future. This will particularly impact workers in low-skilled jobs.   When companies use robots instead of
      human labour, the government misses out on tax revenue.    To tax the use of robots would be a smart way of taking
      advantage of the technological developments that will come, and at the same time using the money to fund training
      for unemployed people, or to support professions with a lack of human resources, such as elder care and education.
    </p>
  </div>
  <div id="againstArgument">
    <h3>Against</h3>
    <p>To tax the use of robots would make it more expensive to develop them, which would likely slow down the research
      and development of advanced technologies. Using robots will not necessarily make the need for human labour
      obsolete, since humans will likely move on to more complex work. The legislation should therefore focus on the
      need for education and training, rather than taxing robots. A robot tax would also decrease the EU’s
      competitiveness by putting its companies on unequal footing with those elsewhere. Affected companies may even
      choose to relocate outside of the EU so as to avoid this disadvantage.</p>
  </div>
</div>