@import "_colors.scss";

$background: #eee;

body {
    margin: 0;
    font-size: 14px;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

#headerContainer {
    background-color: #202124;
    position: fixed;
    color: #fff;
}

header {
    width: 900px;
    background-color: #202124;
    margin: auto;
    height: 100px;
}

#closeButton {
    float: right;
}

#menu {
    width: 100%;
    height: 100px;
    display: flex;
    color: $background;
    align-items: flex-end;

    li {
        width: 20%;
        height: 50px;
        line-height: 50px;
        text-align: center;
    }
}

// start example
#submenu {
    @extend #menu;//#submenu are toate proprietatile lui #menu
    background-color: purple;
}
// end example

#menu li:nth-child(3) {
    border-bottom: 3px solid #eee;
}

#mainContainer {
    background-color: $background;
}

main {
    width: 900px;
    margin: auto;
    background-color: $background;
}