table {
    width: 100%;
    color: #666;
}

table th {
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    padding: 10px;
}

table tr {
    background-color: #fff;
    border: 0px;
}