/*-------------------- 
		reset css 
--------------------*/
* {
	box-sizing: border-box
}
/* selectorul * formateaza TOATE tag-urile */
body {
	margin: 0;
	font-size: 14px
}
a {
	text-decoration: none
}
ul {
	list-style: none;
	padding: 0;
	margin: 0
}

/*-------------------- 
		header
--------------------*/
#header, #main, #footer {
	width: 100%;
	max-width: 1000px;
	margin: auto;
	background: #cdcdc3;
	position: relative
}
#header img {
	width: 20%
}
#header ul {
	position: absolute;
	right: 15px;
	bottom: 20px
}
#header li {
	float: left;
	margin: 0 15px
}
#header li a:link, #header li a:visited {
	display: block;
	padding: 10px 25px;
	border-radius: 10px;
	color: #001123;
	border: 1px solid #001123
}

#header li a:hover, #header li a:active {
	color: #001123 ;
	background: #959c95;
}

/*-------------------- 
		main
--------------------*/
#main::after {
	content: '';
	display: block;
	clear: both
}
#main-top {
	width: 100%;
	background: #959c95;
	padding: 30px 15px
}
#main-left, #main-center, #main-right {
	width: 30%;
	float: left;
	padding: 50px 15px
}
#main-center {
	width: 40%;
	background: #959c95 
}
/*-------------------- 
		footer
--------------------*/
#footer {
	border-top: 1px solid #001123;
	min-height: 40px;
}

@media screen and (max-width: 768px){
	/* reset mobile */
	body  {
		font-size: 16px;
	}
	/* header mobile */
	#header {
		padding-bottom: 5px;
	}
	#header ul {
		position: static;
	}
	#header li {
		float: none;
		margin: 5px 15px
	}
	#header li:last-child {
		margin-bottom: 0
	}
	#header li a:link, #header li a:visited {
		font-size: 18px;
		text-align: center
	}
	/* main mobile */
	#main-left, #main-center, #main-right {
		float: none;
		width: 100%
	}
}







