.notificationsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

    a {
      display: flex;
      align-items: center;
      font-size: 14px;
    }
}

.notificationsHeader2 {
  color: #90949c;
}

li {
  width: 525px;
  border-top: 1px solid #90949c;
  border-left: 1px solid #90949c;
  border-right: 1px solid #90949c;
}

li:last-child {
  border-bottom: 1px solid #90949c;
}
