textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

#tweet {
    background-color: #4267b2;
    color: #e9ebee;
}

#counter {
    margin-left: auto;
    margin-right: auto;
}