#search {
    border: 0;
    padding: 10px;
}

#submit {
    border: 0px;
    background: #005ea5;
    color: #fff;
    padding: 10px;
}

#search:focus, #submit:focus {
    outline: 3px solid #ffbf47;
}