#headerWrapper {
    z-index: 1;
    position: fixed;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #efefef;
    padding: 20px 0;
    align-items: center;
    margin: auto;
    background-color: #fff;
    height: 40px;
}

#insta {
    display: flex;
    align-items: center;
}

#instagramIcon {
    padding-right: 20px;
}

#instagram {
    padding-left: 20px;
    border-left: 1px solid #000;
}

#search {
    display: flex;
    align-items: center;
    border: 1px solid #efefef;
    height: 25px;
    width: 205px;
    justify-content: center;
    background-color: #fafafa;
    border-radius: 3px;
}

input {
    border: 0;
    background-color: #fafafa;
    outline: none;
}

.headerIcon {
    padding: 0 20px;
}