<div id="headerWrapper">
    <header>
        <div id="insta">
            <div id="instagramIcon" class="fas fa-camera-retro"></div>
            <div id="instagram">Instagram</div>
        </div>
        <div id="search"><span class="fas fa-search"></span><input type="text" placeholder="Search" /></div>
        <div id="headerIcons">
            <div class="headerIcon far fa-compass"></div>
            <div class="headerIcon far fa-heart"></div>
            <div class="headerIcon far fa-user"></div>
        </div>
    </header>
</div>