<ul id="tweetList" *ngIf="">
    <li class="tweet" *ngIf="validTweet">
    
      <div>
        <p class="tweetContent"> {{ yourTweet }} </p>
        <button class="deleteTweet" (click)="deleteTweet()">Delete</button>
        <img src="..//..//assets/img/hollowheart.png" width="21" height="21" class="like" *ngIf="!likedTweet" (click)="likeTweet">
        <img src="..//..//assets/img/fullheart.png" width="21" height="21" class="dislike" *ngIf="likedTweet" (click)="dislikeTweet">
        <button class="comment" (click)="comment()">Comment</button>
      </div>
    
      <div *ngIf="commented">
        <textarea class="yourComment" [(ngModel)]="yourComment"></textarea>
        <button class="submitComm" (click)="submitComm">Submit your comment</button>
    
        <ul class="tweetComments">
            <li *ngFor="let comm of comments"> {{ yourComment }} </li>
        </ul>
      </div>
    </li>
  </ul>
