<!--aplicatie care are butoanele de telefon (0-9) si un ecran pe care apare numarul format-->
<app-screen></app-screen>
<div id="buttons">
  <div>
    <button (click)="btnClicked('1')">1</button>
    <button (click)="btnClicked(2)">2</button>
    <button (click)="btnClicked(3)">3</button>
  </div>
  <div>
    <button (click)="btnClicked(4)">4</button>
    <button (click)="btnClicked(5)">5</button>
    <button (click)="btnClicked(6)">6</button>
  </div>
  <div>
    <button (click)="btnClicked(7)">7</button>
    <button (click)="btnClicked()">8</button>
    <button (click)="btnClicked()">9</button>
  </div>
  <button (click)="btnClicked()">0</button>
</div>